---
export interface Props {
  title?: string;
  subtitle?: string;
  image: string;
  nickname: string;
  best: string;
  worst: string;
}

const { title, nickname, image, best, worst } = Astro.props;
---

<div class="card md:card-side bg-base-200 shadow-xl mb-8">
  <figure class="bg-base-300 w-full md:w-64">
    <img src={image} alt="Album" class="w-64" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <h4 class="font-bold -mt-2">"{nickname}"</h4>
    <div class="prose"><slot /></div>
    <div class="card-actions flex flex-col gap-0">
      <div><b>Best qualities</b>: {best}</div>
      <div><b>Worst qualities</b>: {worst}</div>
    </div>
  </div>
</div>
